<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @farm.offer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @farm.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @farm.phone %>
</p>
<% if is_my_farm?(@farm) %>
<%= link_to 'Edit', edit_farm_path(@farm) %> |
<% end %>
<%= link_to 'Back', farms_path %>
