<p id="notice"><%= notice %></p>

<h1>Listing Farm Products</h1>

<table>
  <thead>
    <tr>
      <th>Farm</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_products.each do |farm_product| %>
      <tr>
        <td><%= farm_product.farm %></td>
        <td><%= farm_product.product %></td>
        <td><%= link_to 'Show', farm_product %></td>
        <td><%= link_to 'Edit', edit_farm_product_path(farm_product) %></td>
        <td><%= link_to 'Destroy', farm_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm product', new_farm_product_path %>
