<p id="notice"><%= notice %></p>

<p>
  <strong>Farm:</strong>
  <%= @farm_product.farm %>
</p>

<p>
  <strong>Product:</strong>
  <%= @farm_product.product %>
</p>

<%= link_to 'Edit', edit_farm_product_path(@farm_product) %> |
<%= link_to 'Back', farm_products_path %>
